@model int 

    <div>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <h1>Hello, @User?.Identity?.Name</h1>
            }
            else
            {
                <h4>Y not authenticate, plz login</h4>
            }
        }
        <p>
            @Model
        </p>
    </div>